.index-ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.centerDiv {
    max-width: 480px;
}

.callout {
    font-size: 0.8em;
    color: rgba(100, 100, 100);
}

.credit {
    font-size: 0.6em;
    color: #999999;
    text-align: right;
}

#characterBox {
    display: none;
}

.hex-text {
    display: flex;
    align-items: center;
}

.color-box {
    height: 200px;
}

#topBar {
    background-color: rgb(232, 243, 252);
}